<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/collection/1353633)" >
  <div class="container">
      <h1></h1>
      <p></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-6 home-card">
      <h1>hi</h1>
    </div>
    <div class="col-6 home-card">
      <h1>hi</h1>
    </div>
  </div>
  <div class="mt-4 mx-auto">
    <%= link_to "Sign in", new_user_registration_path, class: "btn btn-primary" %>
  </div>
</div>
